@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');
/* smazat potom  */
.nav-link {
  color: #fff !important;
}
.nav-link:hover {
  text-decoration: underline;
}
.dropdown-toggle::after {
  display: none !important;
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

/* smazat konec  */

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
}
input {
  padding: 0;
  margin: 0;
}
input[type='submit'] {
  border: none;
  background: unset;
  color: unset;
}
input[type='radio'],
input[type='checkbox'] {
  width: 24px !important;
  height: 24px !important;
  padding: 0 !important;
}
input[type='text'],
input[type='email'] {
  border: 1px solid #c8102e;
  border-radius: 8px 0 8px 0;
  /* margin: 0 13px; */
  height: 36px;
  /* width: 240px; */
}
.input__col {
  padding: 0 20px;
}

.checkbox:checked {
  background-color: #c8102e;
}
.checkbox {
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid #c8102e;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 10px 0 10px 0;
  display: inline-block;
  position: relative;
}
.checkbox__box {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.checkbox__box label {
  width: fit-content;
}
label {
  font-size: 12px;
  padding: 0 16px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.bg_red {
  background-color: #c8102e !important;
}

.infotext {
  margin: 0;
  text-align: center;
  color: green;
}
h2 {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  color: #c8102e;
}
h4 {
  letter-spacing: -0.5px;

  margin-left: 13px;
  font-size: 17px;
  color: #000;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 8px !important;
}
button {
  padding: 8px 24px;
  color: #fff;
  background: #000;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  line-height: 20px;
}

/* header */
header {
  /* width: 100%; */
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  max-width: 1790px;
  padding: 0 15px;
  margin: 0 auto;
}
.header_box {
  display: flex;
  align-items: center;
  /* position: absolute; */
  /* top: 0; */
  /* left: 80px; */
}
.header_logo {
  width: 75px;
  height: 64px;
}
.header_text {
  font-size: 20px;
  line-height: 24px;
  color: #c8102e;
  width: 178px;
  margin-left: 24px;
  font-weight: 800;
}
.menu a {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  padding: 0 12px;
}
.header_right {
  /* position: absolute;
  right: 80px; */
  display: flex;
  align-items: center;
}
.header_right a {
  padding: 0 4px;
}
.header_right button {
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 10px 0;
}
.header_right a img {
  background: #000;
  border-radius: 50%;
}
.mr-2 {
  margin-right: 28px;
}

.mob-menu {
  display: none;
}
.menu .header_right {
  display: none;
}

/* header konec */

.form {
  background-image: url('../img/bg_form.png');
  height: 504px;
  background-size: contain;
  width: 100%;
  background-position: center;
  background-color: #f2f5f6;
  background-repeat: no-repeat;
}
.form_part h2 {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-bottom: 14px;
}
.left_form h2 {
  margin-left: 20px;
}
.form_section {
  padding-top: 48px;
  padding-left: 235px;
  padding-right: 235px;
  display: flex;
  margin-left: -40px;
  margin-right: -40px;
}
.form_part {
  width: 50%;
}
.left_form {
  padding: 0 20px;
}
.right_form {
  padding: 0 20px;
}
.input__col input {
  margin-bottom: 16px;
  padding: 0 15px 0 24px;
  letter-spacing: 0.4px;
}
.input__col-left input {
  width: 160px;
  display: block;
}
.radio__col h4 {
  margin-left: 19px;
}
.radio__box {
  display: flex;
  align-items: center;
  padding: 0 19px;
}
.radio__box label {
  padding: 0 25px 0 16px;
  font-size: 14px;
}
.radio__box input {
  margin: 0;
}
.input__col-right input {
  width: 240px;
  display: block;
}
.input_section {
  display: flex;
  flex-wrap: wrap;

  /* justify-content: end; */
}
.form_confirm {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 48px;
}
.form_confirm button {
  border-radius: 10px 0;
}
ul {
  display: flex;
}
li {
  display: block;
}

@media only screen and (max-width: 1920px) {
  .form_section {
    padding-top: 47px;
    padding-left: 231px;
    padding-right: 130px;
  }
}

/* footer */
footer {
  background-color: #c8102e;
  color: #000;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 19px;
  font-size: 14px;
}
footer a {
  color: #000;
  padding: 0 8px;
  line-height: 19px;
  font-size: 14px;
  font-weight: 800;
}
.footer__right {
  display: flex;
  align-items: center;
}
.footer__social {
  margin-left: 40px;
}
.footer__descr {
  font-weight: 700;
}
.footer_logo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 67px;
  margin-left: auto;
  margin-right: auto;
  width: 64px;
}
.nav-link {
  font-weight: 800;
}

/* new style  */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1390px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.wrapper {
  padding-top: 32px;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.clanky {
  padding: 48px 0;
}
.clanky__inner {
  display: flex;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 48px;
}
.clanek {
  max-width: 33.333%;
  flex: 0 0 33.333%;
  padding: 0 16px;
  height: 432px;
}
.clanek__link:hover h3 {
  text-decoration: underline;
}
.clanek__link {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px 0;
}
.clanek__info {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 0 32px 32px;
}
.clanek__img {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 10px 0;
}
.clanek__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10px 0;
}
.clanek__img::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 28.06%, #000000 99.51%);
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px 0;
}
.clanek span {
  border-radius: 10px 0 10px 0;
  background-color: #c8102e;
  font-weight: 700;
  font-size: 12px;
  padding: 5px 16px;
}
.clanek h3 {
  margin-top: 12px;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}
.clanek.clanek--yotube .clanek__img::before {
  background: linear-gradient(0deg, rgba(200, 16, 46, 0.703092), rgba(200, 16, 46, 0.703092));
}
.play {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 160px;
  height: 160px;
  background-image: url('../img/play.svg');
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 10;
  max-width: 80%;
  width: 100%;
  height: 65%;
  transition: 200ms ease-in-out;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
  display: block;
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
  z-index: 2;
}
.modal__content {
  position: relative;
  padding-top: 32px;
  padding-right: 32px;
  height: 100%;
}
.video iframe {
  width: 100%;
  height: 100%;
}
.video {
  height: 100%;
}
.close {
  padding: 0 !important;
  border: none;
  color: #fff;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  position: absolute;
  border: none;
  border-radius: 50%;
  background-color: #e3003c;
  cursor: pointer;
  outline: none;
}
.close:hover {
  border: none;
  color: #fff;
}
.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  opacity: 1;
}

/* camps  */

.camps {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}
.camp {
  padding: 0 16px;
  max-width: 25%;
  flex: 0 0 25%;
}
.camp--left .camp__box {
  background: #c8102e;
  display: flex;
  align-items: center;
}
.camp--left .camp__box .camp__info {
  max-width: 215px;
  margin: 0 auto;
}
.camp--left .camp__box h5 {
  color: #fff;
}
.camp--left .camp__box a {
  position: relative;
  padding-left: 20px;
  color: #000;
  background: transparent;
  font-weight: 800;
  font-size: 12px;
  line-height: 1.25;
}
.camp--left .camp__box a:hover {
  text-decoration: underline;
}
.camp--left .camp__box a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 12px;
  background-image: url('../img/fast-forward.svg');
  width: 12px;
  height: 8px;
  background-repeat: no-repeat;
  background-size: cover;
}
.camp--left .camp__box::before {
  left: 0;
  background-image: url('../img/decor-left.png');
}
.camp__box {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.101972);
  border-radius: 10px 0px;
  padding: 24px 32px;
  position: relative;
  overflow: hidden;
  height: 100%;
}
.camp__box::before {
  content: '';
  position: absolute;
  background-image: url('../img/decor-camp.png');
  bottom: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 178px;
  left: -16.14%;
  right: -10.44%;
}

.camp__date {
  color: #c8102e;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  padding-left: 32px;
  margin-bottom: 16px;
}
.camp__date::before {
  content: '';
  position: absolute;
  left: 0;
  background-image: url('../img/calendar.svg');
  height: 16px;
  width: 16px;
  top: 3px;
}
.camp__box h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
  color: #000;
  margin-bottom: 6px;
}
.camp__box p {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  margin-top: 0;
  padding: 0;
  margin-bottom: 16px;
}
.camp__box a {
  background: #000;
  border-radius: 10px 0;
  color: #fff;
  padding: 8px 24px;
  display: block;
  width: fit-content;
  margin: 0 auto;
  text-transform: uppercase;
  position: relative;
  z-index: 99;
}

/* players */
.players {
  background: #c8102e;
  padding: 48px 0;
}
.players h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 24px;
  font-weight: 800;
}
.players__inner {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}
.player {
  max-width: 25%;
  flex: 0 0 25%;
  padding: 0 16px;
  height: 220px;
}
.player__link {
  display: block;
  width: 100%;
  position: relative;
  height: 100%;
}
.player__link:hover h4 {
  text-decoration: underline;
}
.player__link h4 {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -2px;
  color: #fff;
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
  text-align: center;
}
.player__img {
  position: relative;
  height: 100%;
  width: 100%;
}
.player__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px 0px;
}
.player__img::before {
  content: '';
  position: absolute;
  border-radius: 10px 0px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 28.06%, #000000 99.51%);
}

/* partners */
.partners {
  padding: 24px 0;
}
.partners__inner {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}
.partner {
  max-width: 25%;
  flex: 0 0 25%;
  padding: 0 16px;
  height: 200px;
}
.partner a,
.partner img {
  display: block;
  width: 100%;
  height: 100%;
}
.partner img {
  object-fit: contain;
}

/* article  */
.clanek-page {
  margin-top: 24px;
  border-radius: 10px 0 10px 0;
  background-color: #fff;
  color: #000;
  margin-bottom: 24px;
}
.clanek-page__wrapper {
  padding-top: 24px;
  max-width: 1200px;
  margin: 0 auto 24px;
}
.clanek-page .clanek {
  max-width: 100%;
  flex: 100%;
  height: auto;
  padding: 0;
}
.clanek-page .clanek__img {
  height: 540px;
  border-radius: 0%;
}
.clanek-page .clanek__img img {
  border-radius: 0;
}
.clanek-page .clanek h1 {
  font-weight: 800;
  color: #000;
  margin-top: 16px;
  margin-bottom: 32px;
}
.clanek-page .clanek__info {
  position: relative;
  color: #000;
}
.clanek-page .clanek__info span {
  color: #fff;
}
.anotace {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 32px;
}
.typography h2 {
  color: #000;
  margin-top: 32px;
  margin-bottom: 24px;
  font-weight: 800;
}
.typography h3 {
  margin-top: 32px;
  margin-bottom: 24px;
}
.typography img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  display: block;
  margin-bottom: 32px;
}
.typography ul {
  display: inline-block;
  list-style-type: square;
}
.typography li {
  list-style: initial;
  display: list-item;
  color: #000;
  font-size: 1.2rem;
  line-height: 150%;
  margin-bottom: 6px;
}
.typography li a,
.typography a {
  color: #000;
  font-weight: 500;
  text-decoration: underline;
}
.typography li a:hover,
.typography a:hover {
  text-decoration: none;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 32px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.101972);
}
table th {
  text-transform: uppercase;
}
table th,
table td {
  text-align: left;
  padding: 8px 16px;
}
table td {
  padding: 12px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
table th,
table th a {
  background-color: #c8102e;
  color: #fff !important;
  font-weight: 700;
  font-size: 1.2rem;
}
/* media  */
@media (max-width: 1420px) {
  .form_section {
    padding-left: 24px !important;
    padding-right: 24px !important;
    justify-content: center;
  }
  .form_part {
    width: 540px;
  }
  .clanek {
    height: 320px;
  }
  .play {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 1240px) {
  .clanky__inner {
    flex-wrap: wrap;
  }
  .clanky {
    padding-bottom: 12px;
    padding-top: 26px;
  }
  .camp {
    max-width: 50%;
    flex: 0 0 50%;
    margin-bottom: 32px;
  }
  .header_logo {
    width: 72px;
    height: 61px;
  }
  .wrapper {
    padding-top: 16px;
  }
  .header_text {
    font-size: 18px;
    line-height: 20px;
  }
  .header_right button {
    display: block;
    margin: 0 auto 16px;
  }
  .header_right {
    display: none;
    text-align: center;
  }
  header {
    position: relative;
  }
  .nav-link {
    width: 100%;
    padding: 8px 6px !important;
  }
  .menu {
    display: none;
    transition: all 0.6s;
    right: 0;
    position: absolute;
    background: #000;
    width: 100%;
    top: 70px;
    z-index: 999;
    height: auto;
    width: fit-content;
    padding: 0 24px 24px 24px;
  }
  .nav-item {
    margin-bottom: 6px;
  }
  .menu .header_right {
    display: block;
  }
  .navbar-nav {
    display: block;
  }
  .menu.active {
    display: block;
    min-width: 320px;
  }

  .collapse:not(.show) {
    display: block;
  }
  .navbar-nav {
    padding: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .mob-menu {
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .mob-menu__btn {
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 103, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .mob-menu__btn::before,
  .mob-menu__btn::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 103, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .mob-menu__btn::before {
    transform: translateY(-10px);
  }
  .mob-menu__btn::after {
    transform: translateY(10px);
  }

  /* animation media btn */
  .mob-menu.open .mob-menu__btn {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .mob-menu.open .mob-menu__btn::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .mob-menu.open .mob-menu__btn::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}
@media (max-width: 1100px) {
  .clanek-page .clanek__img {
    height: 400px;
  }
  .footer__descr {
    margin-bottom: 16px;
  }
  .footer__right {
    display: block;
  }
  .footer__social {
    margin-left: 0;
    margin-top: 16px;
    margin-right: 0;
    text-align: center;
  }
  .footer_logo {
    bottom: auto;
    top: -32px;
  }
  footer {
    flex-direction: column;
    height: auto;
    padding: 48px 0 24px;
  }
  .form_section {
    padding: 0;
    margin: 0;
    padding-top: 32px;
  }
  .partners {
    padding: 40px 0;
  }
  .partner {
    height: auto;
  }
  .form {
    height: auto;
  }
  .form_section {
    flex-direction: column;
    align-items: center;
  }
  .left_form {
    margin-bottom: 40px;
  }
  .right_form {
    padding: 0 40px;
  }
}
@media (max-width: 920px) {
  .player {
    max-width: 50%;
    flex: 0 50%;
    margin-bottom: 32px;
  }
  .players {
    padding-bottom: 12px;
  }
  .clanek {
    max-width: 100%;
    flex: 100%;
    margin-bottom: 32px;
  }
  .clanky__inner {
    margin-bottom: 12px;
  }
}
@media (max-width: 820px) {
  .table-respons {
    overflow-x: auto;
  }
  .table-respons table {
    width: 900px;
  }
}

@media (max-width: 640px) {
  .partner {
    margin-bottom: 32px;
    flex: 0 50%;
    max-width: 50%;
  }
  .radio__col {
    width: 100%;
    margin-bottom: 16px;
  }

  .radio__col h4,
  .form_part h2 {
    margin-left: 0;
  }
  .form_confirm {
    padding: 32px 0;
  }
  .radio__box,
  .right_form,
  .input__col,
  .left_form {
    padding: 0;
  }
  .form_part,
  .input__col-right input,
  .input__col-left input,
  .input__col {
    width: 100%;
  }
  .clanky {
    padding-bottom: 0;
  }
  .clanky__inner {
    margin-bottom: 0;
  }
  .menu {
    width: 100%;
  }
  .player,
  .camp {
    max-width: 100%;
    flex: 100%;
  }
}

@media (max-width: 510px) {
  h1 {
    font-size: 2rem;
  }
  .clanek-page .clanek__info {
    padding-left: 16px;
    padding-right: 16px;
  }
  .clanek-page .clanek__img {
    height: 340px;
  }
  .clanek {
    height: 300px;
  }
}
@media (max-width: 410px) {
  .form_section {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  .clanek {
    height: 270px;
  }
}

@media (max-width: 360px) {
  .header_text {
    display: none;
  }
}
