<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="windows-1250">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie-edge">
      <meta title="mbhockeycamp">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
      <link rel="stylesheet" href="css/style.css">
   </head>

   <body>
      <div id="overlay" class=""></div>
      <div class="wrapper">
         <header>
    
            <div class="header_box">
                <div class="header_logo"><a href="/"><img src="img/logo.svg"></a></div>
                <div class="header_text">MB HOCKEY CAMP SUMMER 2022</div>
            </div>
            
            <div class="menu">
            
              <nav class="navbar navbar-expand-xl navbar-light">
    
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">             
                     <li class='nav-item dropdown h-100 d-flex align-items-center after"& intCounter &"'>
                        <a class='nav-link dropdown-toggle' href='"&rs2("url")&"' id='navbarDropdownMenuLink"&intCounter&"' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                           KEMPY
                        </a>
                     </li>
                     <li class='nav-item dropdown h-100 d-flex align-items-center after"& intCounter &"'>
                        <a class='nav-link dropdown-toggle' href='"&rs2("url")&"' id='navbarDropdownMenuLink"&intCounter&"' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                           PROGRAM
                        </a>
                     </li>
                     <li class='nav-item dropdown h-100 d-flex align-items-center after"& intCounter &"'>
                        <a class='nav-link dropdown-toggle' href='"&rs2("url")&"' id='navbarDropdownMenuLink"&intCounter&"' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                           CENA
                        </a>
                     </li>
                     <li class='nav-item dropdown h-100 d-flex align-items-center after"& intCounter &"'>
                        <a class='nav-link dropdown-toggle' href='"&rs2("url")&"' id='navbarDropdownMenuLink"&intCounter&"' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                           TRENÉŘI
                        </a>
                     </li>
                     <li class='nav-item dropdown h-100 d-flex align-items-center after"& intCounter &"'>
                        <a class='nav-link dropdown-toggle' href='"&rs2("url")&"' id='navbarDropdownMenuLink"&intCounter&"' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                           FAQ
                        </a>
                     </li>
                          
                    </ul>
                  </div>
                </nav>
                <div class="header_right">
            
                  <button class="bg_red mr-2">registrace</button>
                  
                  <a href=""><img src="img/fb.svg" alt=""></a>
                  <a href=""><img src="img/ig.svg" alt=""></a>
                  <a href=""><img src="img/yt.svg" alt=""></a>
                  <a href=""><img width="24" height="24" src="img/tiktok.png" alt=""></a>
              </div>
            
            </div>
            
            <div class="header_right">
            
                <button class="bg_red mr-2">registrace</button>
                
                <a href=""><img src="img/fb.svg" alt=""></a>
                <a href=""><img src="img/ig.svg" alt=""></a>
                <a href=""><img src="img/yt.svg" alt=""></a>
                <a href=""><img width="24" height="24" src="img/tiktok.png" alt=""></a>
            </div>
            <div class="mob-menu">
               <div class="mob-menu__btn"></div>
            </div>     
            
        </header>
        <section class="clanky">
         <div class="container">
            <div class="clanky__inner">
                       <div class="clanek">
                          <a class="clanek__link" href="clanek.html">
                             <div class="clanek__img">
                                <img src="img/clanek.png" alt="">
                             </div>
                             <div class="clanek__info">
                                <span>12.12.2021></span>
                               <h3>dsdadsad></h3>
                             </div>
                          </a>
                       </div>
             <div class="clanek clanek--yotube">
                <a class="clanek__link" href="#">
                   <div class="clanek__img">
                      <img src="img/clanek.png" alt="">
                      <div data-modal-target="#modal" class="play"></div>
                   </div>
                   <div class="modal" id="modal">
                     
                       <div class="modal__content">
                         <button data-close-button class="close">&times;</button>
                         <div class="video">
                            <iframe id="playerid" width="560" height="315" src="https://www.youtube.com/embed/QVUfKC4V-j4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                         </div>
                       </div>
                   </div>
                </a>
             </div>
             
             
            </div>
            <div class="camps">
             <div class="camp camp--left">
                <div class="camp__box">
                   <div class="camp__info">
                      <h5>Přehled plánovaných kempů</h5>
                 
                      <a href="#">Zobrazit všechny kempy</a>
                   </div>
                </div>
             </div>
               <div class="camp">
                <div class="camp__box">
                   <div class="camp__date">pá 14. 1. 2022 – ne 16. 1. 2022</div>
                    <h5>Střelecký kemp</h5>
                    <p>Kemp zaměřený na dovednost střelby.</p>
                    <a href="#registrace">Registrace</a>
                </div>
             </div>
             <div class="camp">
                <div class="camp__box">
                   <div class="camp__date">pá 14. 1. 2022 – ne 16. 1. 2022</div>
                    <h5>Střelecký kemp</h5>
                    <p>Kemp zaměřený na dovednost střelby.</p>
                    <a href="#">Registrace</a>
                </div>
             </div>
             <div class="camp">
                <div class="camp__box">
                   <div class="camp__date">pá 14. 1. 2022 – ne 16. 1. 2022</div>
                    <h5>Střelecký kemp</h5>
                    <p>Kemp zaměřený na dovednost střelby.</p>
                    <a href="#">Registrace</a>
                </div>
             </div>
            </div>
         </div>
      </section>
       
      </div>

      <section class="players">
         <div class="container">
            <h2>Kdo se zúčastní kempů?</h2>
            <div class="players__inner">
            
                      <div class="player">
                        <a href="#" class="player__link">
                           <div class="player__img">
                              <img src="img/clanek.png" alt="">
                           </div>
                           <h4>fdsfdsf f sfsdf></h4>
                        </a>
                       </div>
               
               </div>
            </div>
         </div>
      </section>

    
      
      <div class="form">
      
          <!-- <% if reg="1" then %>
              <h1 class="infotext">Formulář odeslán !</h1>
          <% end if %> -->
          
          <form action="odeslat.asp" method="post">
          
            <div class="form_section">
            
              <div class="left_form form_part">
                <h2>1. ZÁKLADNÍ ÚDAJE</h2>
                <div class="input_section">
                
                    <div>
                        <h4>Jméno dítěte</h4>
                        <input name="jmeno" type="text" required>
                        
                        <h4>Příjmení dítěte</h4>
                        <input name="prijmeni" type="text" required>
                        
                        <h4>Datum narození</h4>
                        <input name="datum_narozeni" type="text" required>
                        
                        <h4>Pozice hráče</h4>  
                        <input class="checkbox" type="radio" name="pozice" value="hráč v poli">
                        <label for="pozice">Hráč v poli</label>
                        <input class="checkbox" type="radio" name="pozice" value="brankář">
                        <label for="pozice">Brankář</label>
                        
                    </div>
                    
                    <div>
                        <h4>E-mail</h4>
                        <input name="email" type="email" required>
                        
                        <h4>Telefon</h4>
                        <input name="telefon" type="text" required>
                        
                        <h4>Hokejový klub</h4>
                        <input name="klub" type="text">
                        
                        <h4>Ubytování</h4>                     
                        <input class="checkbox" type="radio" id="html" name="ubytovani" value="1">
                        <label for="ubytovani">Ano</label>
                        <input class="checkbox" type="radio" id="html" name="ubytovani" value="0">
                        <label for="ubytovani">Ne</label>
                        
                    </div>
                
                </div>
              </div>
              
              <div class="right_form form_part">
                <h2>2. VÝBĚR KEMPU</h2>
                
                <h4>Dostupné termíny</h4>
                
                                 
                         <input type="checkbox" class="checkbox" name="kemp<%=count%>" value="<%=id%>">
                         <label for="kemp1"></label><br>
                 
                
                <br>
                <h2>3. GDPR</h2>
                <input type="checkbox" class="checkbox" name="souhlas" value="1" required>
                <label for="souhlas">Souhlasím se zpracováním osobních údajů</label><br>
              </div>  
               
            </div>  
            
            <div class="form_confirm">
                <button><input type="submit" value="POTVRDIT PŘIHLÁŠKU"></button>
            </div>
          
          </form>
          
      </div>
     
      <div class="partners">
         <div class="container">
            <div class="partners__inner">
                
                                  
                      <div class="partner">
                        <a href="<%=url%>">
                           <img src="/adds/db_partners/logos/" alt="">
                        </a>
                     </div>
                 
                              
            </div>
         </div>
      </div>
      
      
      <footer>
        <div class="footer_logo">
            <img src="/img/logo.svg">
        </div>
        
        <div class="footer__descr">
            © 2022 MB HOCKEY CAMP & <a href="https://esportsmedia.cz/">ESPORTS.CZ</a>
        </div>
        
		<div class="footer__right">
			    <div class="footer__links">
     <a href=''>cdfcdfd</a>
		  
        </div>
		   <div class="footer__social">
            
                  
                  <a href=""><img src="img/fb_footer.svg" alt=""></a>
                  <a href=""><img src="img/ig_footer.svg" alt=""></a>
                  <a href=""><img src="img/yt_footer.svg" alt=""></a>
                  <a href=""><img width="24" height="24" src="img/tiktok__footer.png" alt=""></a>
         </div>
		</div>
        
    </footer>
        


      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>  
      <script src="js/index.js"></script>
   </body>
</html>